@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-color-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.card-color-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.card-color-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

/* <======================================================>
                    Banner section start here
    <======================================================> */

.banner {
  width: 1324px;
  height: 586px;
  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}

.banner .banner-text {
  height: 349px;
  width: 488px;
}

.banner .banner-text h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 55px;
  font-weight: 552;
  line-height: 66px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 22px;
}

.banner .banner-text p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0%;
}

.banner .banner-text button {
  width: 122px;
  height: 44px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 22px;
  border: none;
  outline: none;
  cursor: pointer;
}
.banner .banner-img {
  width: 438px;
  height: 552px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 15px;
}

.banner .banner-img img {
  height: 100%;
  width: 100%;
}

/* <======================================================>
                    Featues section start here
    <======================================================> */

.features {
  width: 1010px;
  height: 541px;
  margin: 0 auto;
  margin-top: 120px;
}

.features .card-text {
  height: 91px;
  width: 409px;
  margin: 0 auto;
}

.features .card-text h2 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 27px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.features .card-text p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.features .card-container {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 33px;
}

.features .card-container .card {
  height: 380px;
  width: 320px;
}

.features .card-container .card .card-wraper {
  height: 360px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.features .card-container .card .card-wraper .card-img {
  height: 290px;
  width: 213px;
}

.features .card-container .card .card-wraper .card-img img {
  height: 100%;
  width: 100%;
}

.card p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 20px;
}

/* <======================================================>
                   Services section start here
    <======================================================> */

.services {
  
  height: 220px;
  width: 993px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 69px;
  flex-wrap: wrap;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
}

.services .delivery {
  height: 101px;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.services .fresh-flower {
  height: 101px;
  width: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.services .support {
  height: 101px;
  width: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.delivery-img {
  height: 56px;
  width: 53px;
}

.fresh-flower-img {
  width: 60px;
  height: 60px;
}

.support-img {
  width: 60px;
  height: 60px;
}

.delivery-img img {
  width: 100%;
  height: 100%;
}

.fresh-flower-img img {
  height: 100%;
  width: 100%;
}

.support-img img {
  height: 100%;
  width: 100%;
}

.services > p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
